@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align:middle ;
}
h1,h2,h3,h4,h5,h6,p,div,span,ul,li,img,body{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

  
 
:root{
    --primary_background_color: #B070FF;
      --secendary_bckground_color: #7C14FD;
    --line_color: #2405f2;
    --button_color:#fcd980;
    --primary_text_color:#282938;
    

}

/* common css end */




/* navber css start */
.navigation_ui{
    column-gap: 25px;
    
    color: black;
    font-weight: 600;
}

.navigation_color a{
    color: black;
    font-weight: 600;
}
.navigation_color a:hover{
   color: blue;
}

.active{
    color: blue;
}
.Nav-Button {
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid var(--secendary_bckground_color );
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    font-weight: 600;
}
.Nav-Button:hover{
    background-color: var(--secendary_bckground_color);
    color: white;
    font-weight: 600;
}
/* navber csss end */
/* Banner csss start */

.banneritemtext_child1{
    color: var(--Black, #000);
font-size: 50px;
font-weight: 700;
line-height: 115.7%;
letter-spacing: -1.14px;
margin-top: 210px;
position: relative;
}
.banneritemtext_child1::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 516px;
    background-color: var(--secendary_bckground_color) ;
    top: 34px;
    left: 0;
    z-index: -1;
    opacity: .2;
    
}
.banneritem_img picture img{
    margin-top: 89px;
    position: relative;
}
.Banner_bottomimg picture img{
    position: absolute;
    margin-top: -500px;
    z-index: -1;
}
/* Banner csss end */
/* about bussiness csss start */
.aboutbussinesstitle{
    color: #000;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 137.2%; /* 71.344px */
}
.about-text1{
    margin-top: 61px;
 color: var(--Black, #000);
text-align: justify;
font-size: 20px;
}
.about-text2{
    margin-top: 191px;
    color: var(--Black, #000);
text-align: justify;
font-size: 20px;
}
.about-image2 picture img{
   margin-left: -134px;
   margin-top: 80px;
}
.about-image2 picture img{
    margin-left: -134px;
    margin-top: 60px;
}
/* about bussiness csss end */

/* form csss start */
.form_background{
    width: 1285px;
    height: 756.555px;
    background-color: blue;
    align-items: center;
    border-radius:15px ;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius:15px ;
    -o-border-radius:15px ;
}
.form-title{
    color: var(--Black, #000);
font-size: 42px;
font-weight: 600;
margin-bottom: 80px;position: relative;
margin-top: 116px;
}
.formtitle2{
    color: var(--Black, #000);
font-size: 22px;
font-weight: 400;
line-height: 129.7%; /* 28.534px */
letter-spacing: 0.55px;
margin-top: 116px;
margin-bottom: 20px;
}
.form-title::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 150px;
    border-radius: 1000px;
background: linear-gradient(90deg, #7C14FD 1.09%, rgba(124, 20, 253, 0.29) 99.99%);
top: 216px;
left: 0;
}
.form_backlocation{
    color: var(--Black, #000);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 223%; 
    margin-bottom: 15px;
}
.form_button{
    padding: 10px 30px;
    border:1px solid var(--secendary_bckground_color) ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--secendary_bckground_color);
   
}

.form-social i{
    color: var(--secendary_bckground_color);
    margin-left: 10px;
}
.form-social{
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    column-gap: 30px;
}
.form_button:hover{
background-color: var(--secendary_bckground_color);
color: #fff;
}

.name{
    width: 452.143px;
    height: 65px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    padding: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    background-color: #e2daece0;
    margin-bottom: 10px;
    display: block;
}

.name:focus{
 color: var(--secendary_bckground_color);
 border: 1px solid var(--secendary_bckground_color);

 &:focus::placeholder{
   color: var(--secendary_bckground_color);
  }

}

.e-mail{
    width: 452.143px;
    height: 65px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    padding: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;  
    background-color: #e2daece0;
    margin-bottom: 10px;
    display: block;
}
.e-mail:focus{
    color: var(--secendary_bckground_color);
    border: 1px solid var(--secendary_bckground_color);
   
    &:focus::placeholder{
      color: var(--secendary_bckground_color);
     }
   
   }
   
   .Subject{
    width: 452.143px;
    height: 65px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    padding: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;  
    background-color: #e2daece0;
    margin-bottom: 10px;
    display: block;
}
.Subject:focus{
    color: var(--secendary_bckground_color);
    border: 1px solid var(--secendary_bckground_color);
   
    &:focus::placeholder{
      color: var(--secendary_bckground_color);
     }
   
   }

   .textbox1{
    width: 452px;
    height: 156px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    padding: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;  
    background-color: #e2daece0;
    margin-bottom: 10px;
    display: block;
}
.textbox1:focus{
    color: var(--secendary_bckground_color);
    border: 1px solid var(--secendary_bckground_color);
    position: relative;
   
    &:focus::placeholder{
      color: var(--secendary_bckground_color);
      position: absolute;
      top: 10px;
      left: 5px;

     }
   
   }

  .formsubbutton1{
    padding: 10px 205px;
    background-color: var(--secendary_bckground_color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    border: none;
    transition:  all linear .3s;
    -webkit-transition:  all linear .3s;
    -moz-transition:  all linear .3s;
    -ms-transition:  all linear .3s;
    -o-transition:  all linear .3s;
    color: white;
    font-weight: 600;
    display: block;
}
.formsubbutton1:hover{
    background-color: transparent;
    border: 1px solid var(--secendary_bckground_color);
    color: black;
    font-weight: 600;

}
/* form csss end */