@media (max-width: 575.98px){
    .alltexts {
        margin: auto;
        text-align: center;
    }
    .footerItem4Box{
        margin: auto;
    }
    .about-text2{
width: 450px;
font-size: 15px;
    }
    .about-text1{
        width: 450px;
        font-size: 15px;
    }
    .form-title::after {
        margin-left: -71px;
        margin-top: -20px;
    }
    .banneritemtext_child1::after {
        
        width: 346px;
      
    }
    .form_background {
        width: 546px;
        align-items: center;
        text-align: center;
    }
    .formlist {
        margin-left: 0;
    }
   .name {
        width: 350px;
        height: 65px;
        
    }
    .strangerpicture2 picture img{
        height: 322px;
    }
 }

